version: "3.6"
services:
    web:
        container_name: domain_adviser_web
        build: .
        ports:
            - 1337:1337
        env_file: .env
        depends_on:
            - db
    db:
        container_name: domain_adviser_db
        image: postgres:12.9
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
            POSTGRES_DB: domain_adviser_db
        ports:
            - 5432:5432
        volumes: [db-data:/var/lib/postgresql/data]

volumes:
    db-data:
